body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f00;
}

h1 {
    position: relative;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 7rem;
    text-shadow: 0 5px 20px rgba(4, 72, 1, 0.5);
    letter-spacing: 10px;
    font-family: sans-serif;
    transition: 0.5s;
}

h1:hover {
    text-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

h1:before, h1:after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-text);
    transition: 0.5s;
    text-shadow: 0 5px 20px rgba(4, 72, 1, 0.5);
}

h1:hover:before {
    top: -10px;
    left: 10px;
}

h1:hover:after {
    top: -20px;
    left: 20px;
}